<div class="col-lg-4">
  <div class="panel list-unstyled text-center">
    <li>
      <div class="panel-body">
      <%= gravatar_for(user) %>
       <p><%= link_to user.email, user %></p>
     </div>
    </li>
  </div>
</div>
