<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="panel user-info">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </div>

    </div>

    <div class="col-lg-9">
      <div class="panel">
        <h1 class="heading-panel">Latest Posts</h1>
      </div>
      <div class="list-unstyled">
        <%= render 'shared/feed'%>
      </div>
    </div>
  </div>
</div>
<%= render 'follow_form' if user_signed_in? %>
