<div class="stats">
<% @user ||= current_user %>
<p>
  <a href="<%= following_user_path(@user) %>">
    <%= @user.following.count %>
    following
  </a>
</p>
<p>
  <a href="<%= followers_user_path(@user) %>">
    <%= @user.followers.count %>
    followers
  </a>
</p>
</div>
