<div class="container">
  <div class="row">
    <div class="panel edit-post">
      <div class="panel-body">
      <h1>Edit post</h1>
      <%= render 'shared/posts' %>
    </div>
    </div>
  </div>
</div>
